<?xml version="1.0"?>
<DTSConfiguration>
	<DTSConfigurationHeading>
		<DTSConfigurationFileInfo GeneratedBy="RSYSLAB\U00001" GeneratedFromPackageName="Expressions" GeneratedFromPackageID="{41ADF117-4E99-43F4-B9E7-34245C58A5D6}" GeneratedDate="12/3/2025 6:35:54 PM"/>
	</DTSConfigurationHeading>
 
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[Value]" ValueType="String"><ConfiguredValue>"T15P"</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::CSV_DIRECTORY].Properties[Value]" ValueType="String">
		<ConfiguredValue>"C:\Users\U00001\source\repos\gossisMCP\Documents\SSIS_EXAMPLES"</ConfiguredValue>
	</Configuration>
</DTSConfiguration>