<?xml version="1.0"?><DTSConfiguration>
	<DTSConfigurationHeading>
		<DTSConfigurationFileInfo GeneratedBy="DOMAIN\USER" GeneratedFromPackageName="Expressions" GeneratedFromPackageID="{41ADF117-4E99-43F4-B9E7-34245C58A5D6}" GeneratedDate="12/3/2025 6:35:54 PM"/>
	</DTSConfigurationHeading>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[Description]" ValueType="String"><ConfiguredValue></ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[EvaluateAsExpression]" ValueType="Boolean"><ConfiguredValue>0</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[Expression]" ValueType="String"><ConfiguredValue>
		
	</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[IncludeInDebugDump]" ValueType="Boolean"><ConfiguredValue>0</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[Name]" ValueType="String"><ConfiguredValue>DB_NAME</ConfiguredValue></Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[Namespace]" ValueType="String"><ConfiguredValue>User</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[RaiseChangedEvent]" ValueType="Boolean"><ConfiguredValue>0</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[ReadOnly]" ValueType="Boolean"><ConfiguredValue>0</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::DB_NAME].Properties[Value]" ValueType="String"><ConfiguredValue></ConfiguredValue>
	</Configuration>
</DTSConfiguration>